.icon {
  width: 1rem;
  height: 1rem;
  padding: 0 .5rem; }
  .icon-grey {
    fill: grey; }
  .icon-green {
    fill: #7fad39; }
  .icon-white {
    fill: white; }

.header__flag-img {
  width: 20px;
  height: 25px; }

.btn {
  background-color: #7fad39;
  padding: 0 2rem;
  color: white;
  text-transform: capitalize;
  border: none;
  font-family: inherit; }

.phone-info__bold {
  color: black;
  font-size: 1rem; }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Cairo";
  font-size: 75%; }

.section__header {
  font-size: 1.3rem;
  text-align: center;
  position: relative;
  font-weight: 900; }
  .section__header::after {
    content: '';
    background-color: #7fad39;
    width: 70px;
    height: 0.2rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%); }

.name {
  font-size: 1rem;
  font-weight: 400; }

.price {
  font-size: 1rem;
  font-weight: 700; }

section {
  padding: 2rem 5rem; }

.hidden {
  display: none; }

.link {
  text-decoration: none;
  color: black; }

.item {
  list-style-type: none; }

.pagination__list {
  display: flex;
  margin: 2rem 0; }

.pagination__items {
  list-style-type: none;
  margin-right: 0.5rem;
  border: 1px solid #e2e1e1;
  padding: 0.3rem 0.7rem; }
  .pagination__items:hover {
    background-color: #7fad39;
    color: white; }

.pagination__links {
  text-decoration: none;
  color: grey; }
  .pagination__links:hover {
    color: white; }

.image-primary {
  height: 200px;
  object-fit: cover; }

.header__primary {
  background-color: rgba(248, 240, 240, 0.726);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 5.5rem;
  font-size: 0.8rem; }
  .header__primary-left {
    display: flex;
    gap: 1rem; }
    .header__primary-left--email {
      display: flex;
      align-items: center;
      gap: .5rem; }
  .header__primary-right {
    display: flex;
    align-items: center;
    gap: 1rem; }
    .header__primary-right > *:hover {
      cursor: pointer; }
    .header__primary-right--nationality {
      display: flex;
      align-items: center; }
      .header__primary-right--nationality > * {
        padding: 0 .3rem; }
    .header__primary-right--login {
      display: flex;
      align-items: center; }
    .header__primary-right--icons {
      display: flex;
      align-items: end; }

.header__secondary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 6rem; }
  .header__secondary--nav-background {
    display: flex;
    flex: 1 40%;
    justify-content: space-evenly; }
  .header__secondary--heart-icon, .header__secondary--shoppingbag-icon {
    position: relative; }
  .header__secondary--icons {
    display: flex;
    justify-content: end;
    flex: 1 20%;
    gap: 2rem; }
    .header__secondary--icons-items {
      display: flex;
      align-items: center;
      position: relative; }
      .header__secondary--icons-items > span {
        background-color: #7fad39;
        color: white;
        width: 13px;
        border-radius: 50%;
        height: 13px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        right: -12px; }
  .header__secondary--logo {
    display: flex;
    flex: 1 10%; }

.divider {
  content: '';
  background-color: #dfdcdc;
  width: 1px;
  height: 20px; }

.nav {
  display: flex;
  flex: 1 50rem; }
  .nav-list {
    display: flex;
    flex: 1 40%;
    justify-content: space-evenly; }
  .nav-item {
    list-style: none; }
  .nav-link {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 1rem; }
    .nav-link:hover {
      color: #7fad39; }

.hero {
  padding: 1rem 0;
  width: 100%; }
  .hero__container {
    padding: 0rem 6rem;
    display: flex; }
  .hero__dropdown-menu {
    border: 1px solid #dfdcdc; }
  .hero__nav-main {
    background-color: #7fad39;
    display: flex;
    align-items: end;
    padding: .5rem .5rem .5rem 2rem; }
    .hero__nav-main--text {
      font-size: 1.1rem;
      font-weight: bold;
      color: white; }
    .hero__nav-main--angledown-icon {
      color: white;
      margin-left: 1.5rem; }
    .hero__nav-main--align-icon {
      color: white; }
  .hero__nav-item {
    list-style: none;
    margin: 1rem 3rem; }
  .hero__nav-link {
    text-decoration: none;
    color: black;
    font-size: .9rem; }
  .hero__primary {
    width: 75%;
    padding: 0 1rem; }
    .hero__primary--info {
      display: flex;
      justify-content: space-between;
      width: 100%; }
    .hero__primary--search-form {
      display: flex;
      border: 1px solid #dfdcdc;
      align-items: center;
      flex: 1 60%;
      margin: 0 1rem;
      gap: 1.5rem; }
    .hero__primary--search-field {
      display: flex;
      flex: 1 auto;
      justify-content: space-between; }
      .hero__primary--search-field > input {
        outline: none;
        border: none;
        font-family: inherit; }
    .hero__primary--phone {
      display: flex; }
      .hero__primary--phone > * {
        margin: 0 .7rem; }
      .hero__primary--phone-icon {
        display: flex;
        align-items: center; }
      .hero__primary--phone-info {
        color: grey; }
    .hero__primary--category-selection {
      display: flex;
      align-items: center; }
      .hero__primary--category-selection-text {
        font-weight: bold;
        font-size: 1rem;
        margin: 0 1rem; }
    .hero__primary--btn-field {
      display: flex;
      align-items: center;
      height: 53px;
      font-weight: bold;
      font-size: .8rem;
      text-transform: uppercase; }
    .hero__primary--image-box {
      background-image: url("/img/hero.png");
      background-size: cover;
      background-repeat: no-repeat;
      height: 445px;
      background-position: top right; }

.hero__primary--image-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5rem;
  line-height: 3rem; }

.hero__heading-box {
  width: 40%; }

.hero__heading--secondary {
  color: #7fad39;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: .3rem; }

.hero__heading--primary {
  font-size: 3rem;
  font-weight: bolder; }

.hero__heading--sub {
  font-size: 1rem;
  color: grey;
  font-weight: 400; }

.heading__primary--hero-btn {
  padding: 1rem 2rem;
  margin-top: 2rem; }

.btn__text-link {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 0.9rem; }

.categories {
  padding: 5rem 3rem; }
  .categories__body {
    display: flex;
    align-items: center; }
  .categories__items {
    margin: 1rem; }
    .categories__items--info {
      font-size: 1rem;
      text-transform: uppercase;
      text-align: center; }
    .categories__items--list {
      display: flex;
      align-items: center; }
  .categories__scroller {
    border: 1px solid #dddfdf;
    padding: 1.5rem 0.01rem; }

.featured__nav--list {
  display: flex;
  justify-content: center;
  margin: 2rem 0; }

.featured__nav--items {
  margin: 0 1rem;
  list-style-type: none;
  font-size: 1.2rem; }

.featured__nav--links {
  text-decoration: none;
  color: black;
  position: relative; }
  .featured__nav--links:active::after {
    content: '';
    background-color: #7fad39;
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%); }

.featured__body {
  display: flex;
  flex-wrap: wrap;
  justify-content: start; }

.featured__info--links {
  text-decoration: none;
  color: black; }

.featured__items {
  margin: 3rem;
  width: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap; }
  .featured__items--info {
    margin-top: 3rem;
    text-align: center; }
  .featured__items--price {
    text-align: center; }
  .featured__items--images {
    object-fit: cover; }

.banner {
  display: flex;
  justify-content: center;
  gap: 2rem; }

.products {
  display: flex;
  justify-content: space-around; }
  .products__header {
    display: flex;
    align-items: center;
    font-size: 1rem;
    justify-content: space-between; }
  .products__column {
    width: 30%; }
  .products__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem; }
    .products__items--desc {
      color: black; }
  .products__scroller {
    border: 1px solid #dddfdf;
    padding: 0.3rem 0.1rem;
    display: flex;
    align-items: center; }
  .products__icon {
    display: flex;
    gap: 1rem; }
  .products__links {
    display: flex;
    align-items: start;
    gap: 2rem;
    text-decoration: none; }
  .products__body {
    margin-top: 2rem; }

.blog__body {
  display: flex;
  margin-top: 3rem;
  justify-content: space-between; }

.blog__card {
  width: 30%; }
  .blog__card--time {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: start;
    margin: 1rem 0;
    font-size: 1rem; }
    .blog__card--time--info {
      display: flex;
      align-items: center; }
      .blog__card--time--info > p {
        display: inline; }
  .blog__card--comments {
    display: flex;
    align-items: center; }
    .blog__card--comments > p {
      display: inline; }
  .blog__card--header {
    font-size: 1.2rem;
    color: black; }
    .blog__card--header-links {
      text-decoration: none; }
  .blog__card--textbox {
    font-size: 1rem;
    color: grey; }

.footer {
  display: flex;
  justify-content: space-between; }
  .footer__info {
    font-size: 1rem; }
    .footer__info--image {
      margin-bottom: 1rem; }
  .footer__links--box {
    display: flex;
    gap: 3rem;
    font-size: 0.9rem;
    margin-top: 0.5rem; }
  .footer__links--link {
    text-decoration: none;
    list-style-type: none;
    color: black;
    line-height: 2.3; }
  .footer__query--text {
    font-size: 0.9rem;
    margin: 0.3rem 0 1.5rem 0; }
  .footer__query--input {
    display: flex;
    justify-content: start; }
    .footer__query--input-text {
      padding: 1rem;
      color: black;
      font-size: 1rem;
      padding: 0.4rem;
      border: 1px solid #eeecec;
      font-family: inherit;
      width: 100%; }
  .footer__query--btn {
    padding: 1rem 1.5rem;
    text-transform: uppercase;
    font-weight: 700; }
  .footer__query--icons {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1.2rem;
    margin-top: 2rem; }

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .copyright__text {
    font-size: 1rem;
    color: grey; }
    .copyright__text--link {
      text-decoration: none;
      color: #0d98e9; }
      .copyright__text--link:hover {
        color: #fff; }

.heroscreen {
  padding: 0; }
  .heroscreen__primary {
    display: flex;
    padding: 2rem 6rem; }
  .heroscreen__dropdown-menu {
    border: 1px solid #dfdcdc; }
  .heroscreen__nav-main {
    background-color: #7fad39;
    display: flex;
    align-items: end;
    padding: .5rem .5rem .8rem 2rem; }
    .heroscreen__nav-main--text {
      font-size: 1.1rem;
      font-weight: bold;
      color: white; }
    .heroscreen__nav-main--angledown-icon {
      color: white;
      margin-left: 1.5rem; }
    .heroscreen__nav-main--align-icon {
      color: white; }
  .heroscreen__btn--text {
    text-transform: uppercase; }
  .heroscreen__primary--info {
    display: flex;
    justify-content: space-between;
    width: 75%; }
  .heroscreen__primary--search-form {
    display: flex;
    border: 1px solid #dfdcdc;
    align-items: center;
    flex: 1 60%;
    margin: 0 3rem;
    gap: 1.5rem; }
  .heroscreen__primary--search-field {
    display: flex;
    flex: 1 auto;
    justify-content: space-between; }
    .heroscreen__primary--search-field > input {
      outline: none;
      border: none;
      font-family: inherit; }
  .heroscreen__primary--phone {
    display: flex; }
    .heroscreen__primary--phone > * {
      margin: 0 .7rem; }
    .heroscreen__primary--phone-icon {
      display: flex;
      align-items: center; }
    .heroscreen__primary--phone-info {
      color: grey; }
  .heroscreen__primary--category-selection {
    display: flex;
    align-items: center; }
    .heroscreen__primary--category-selection-text {
      font-weight: bold;
      font-size: 1rem;
      margin: 0 1rem; }
  .heroscreen__primary--btn-field {
    display: flex;
    align-items: center;
    height: 53px;
    font-weight: bold;
    font-size: .8rem; }
  .heroscreen__container--image-box {
    background-image: linear-gradient(to right, #464641, transparent), url("../img/tomato.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 150px;
    background-position: top right;
    background-color: line;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 1.3; }
  .heroscreen__container--header-main {
    font-size: 3rem;
    font-weight: 900; }

.info {
  padding: 5rem 10rem;
  display: flex;
  justify-content: space-between; }
  .info__icon {
    width: 3rem;
    height: 3rem; }
    .info__icon--box {
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center; }
  .info__header {
    font-size: 1.5rem;
    font-weight: 700; }
  .info__text {
    font-size: 1rem; }

.message {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem; }
  .message__input {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex-wrap: wrap; }
  .message__field {
    margin: 1rem 0;
    padding: 1rem;
    max-width: 50%;
    flex: 1 0 50%; }
    .message__field:active {
      border: 1px solid grey; }
  .message__msg {
    max-width: 100%;
    flex: 1 0 100%; }
  .message__submit--btn {
    padding: 1rem 2.5rem;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 900;
    letter-spacing: 0.2rem;
    margin: 1rem 0; }

#map {
  height: 80vh;
  width: 100%; }

.blog__container {
  display: flex; }

.blog__sidebar {
  width: 30%; }
  .blog__sidebar--search-field {
    border: 1px solid #dfdcdc;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    padding: 0.5rem 0.5rem;
    margin: 5rem 1.5rem 2rem 0;
    justify-content: space-between; }
    .blog__sidebar--search-field > input {
      border: none;
      font-family: inherit;
      font-size: 1rem; }
  .blog__sidebar--header {
    font-size: 1.5rem;
    font-weight: 900; }
  .blog__sidebar--categories-list {
    margin: 1rem 0; }
  .blog__sidebar--categories-links {
    font-size: 1rem;
    color: grey;
    line-height: 3; }
  .blog__sidebar--news-items {
    display: flex;
    margin: 1rem 0;
    gap: 1rem; }
  .blog__sidebar--news-desc {
    margin-right: 5rem; }
    .blog__sidebar--news-desc > h5 {
      font-size: 1rem;
      line-height: 1.2; }
  .blog__sidebar--search-link {
    color: grey;
    font-size: 1rem; }
  .blog__sidebar--search-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1.5rem;
    margin-right: 2rem;
    gap: 2rem;
    line-height: 1; }

.blog__main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 70%; }
  .blog__main--divider {
    width: 100%;
    background-color: grey;
    height: 1px; }

.blog__card-details {
  width: 50%;
  margin: 2rem 0; }

.blog__card--btn {
  padding: 1rem;
  background-color: transparent;
  border: 1px solid grey;
  border-radius: 2rem;
  text-transform: uppercase;
  margin: 1rem 0;
  font-family: inherit; }

.products__container {
  display: flex; }

.container__left {
  width: 25%; }
  .container__left--header {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1.5rem 0; }
  .container__left--nav-link {
    text-decoration: none;
    color: black; }
  .container__left--nav-item {
    list-style-type: none;
    font-size: 1rem;
    line-height: 2; }
  .container__left--price-scroller {
    width: 90%;
    height: 2px;
    background-color: red; }
  .container__left--price-value {
    margin-top: 1rem;
    color: red;
    font-size: 1rem;
    font-weight: bold; }
  .container__left--colors-item {
    list-style-type: circle;
    font-size: 1rem;
    cursor: pointer; }
  .container__left--size-nav {
    padding-left: 1rem; }
  .container__left--size-item {
    display: inline-block;
    margin-right: 6rem;
    margin-bottom: 2rem; }

.container__right {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: start; }
  .container__right--header {
    font-size: 2.5rem; }
    .container__right--header::after {
      width: 100%; }
  .container__right--products-sale {
    display: flex; }
    .container__right--products-sale__slider {
      width: 100%; }
  .container__right--divider {
    width: 100%;
    background-color: lightgrey;
    height: 1px;
    margin-top: 2rem; }

.products__sale--product {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 1.5rem;
  position: relative; }
  .products__sale--product::before {
    content: '-20%';
    width: 3rem;
    height: 3rem;
    background-color: red;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1rem;
    position: absolute;
    left: 0;
    top: 20; }
  .products__sale--product__price {
    font-weight: 900; }
    .products__sale--product__price > del {
      color: grey;
      font-weight: 400; }

.products__sale--info {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem; }

.products__sale--category {
  font-size: 0.8rem;
  color: grey; }

.products__sale--slider-nav {
  display: flex;
  justify-content: center; }

.products__sale--slider-items {
  list-style-type: circle;
  font-size: 1.5rem;
  content: ''; }

.products__desc {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
  font-size: 1rem; }
  .products__desc--sorting {
    display: flex;
    gap: 2rem; }

.products__body {
  display: flex;
  flex-wrap: wrap; }

.products__items {
  margin: 1rem;
  display: flex;
  flex-direction: column; }
  .products__items--info {
    margin-top: 3rem;
    text-align: center; }
  .products__items--price {
    text-align: center; }
