section {
    padding: 2rem 5rem;
}

.header {


    &__primary {
        background-color: rgba(248, 240, 240, 0.726);
        display: flex;
        justify-content: space-around;
        align-items: center;
        min-height: 3rem;
        padding: 0 2rem;

        &-left {
            display: flex;
            justify-content: center;
            flex: 1 50%;
            align-items: center;

            &>* {
                padding: 0 .5rem;
            }

            // &--line{
            //     background-color: black;
            //     // display: block;
            //     width:.1px;
            //     height: 2rem;

            // }

            &--email {
                display: flex;
                align-items: center;
                gap: .5rem;



                &-text {
                    position: relative;

                    &::after {
                        background-color: black;
                        display: block;
                        width: 3rem;
                        height: 4rem;
                        position: absolute;
                        bottom: 0;
                        right: 0;
                    }

                }


            }


        }

        &-right {
            display: flex;
            flex: 1 50%;
            align-items: center;
            justify-content: end;

            // text-align: center;

            &>* {
                padding: 0 1rem;

                &:hover {
                    cursor: pointer;

                }

            }

            &--nationality {
                display: flex;
                align-items: center;

                &>* {
                    padding: 0 .3rem;
                }

            }

            &--login {
                display: flex;
                align-items: center;
            }
        }
    }

    &__secondary {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0rem 6rem;

        &--nav-background {
            display: flex;
            flex: 1 40%;
            justify-content: space-evenly;
            // padding: 0rem 5rem;
        }

        &--icons {
            display: flex;
            justify-content: end;
            flex: 1 20%;
            gap: 2rem;
        }

        &--logo {
            display: flex;
            flex: 1 10%;
        }

        &--heart-icon {
            position: relative;

            &::after {
                content: '1';
                background-color: $text-color-secondary;
                width: 1rem;
                height: 1rem;
                position: absolute;
                top: 0;
                right: 0;
                border-radius: 50%;
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                z-index: 10;
            }

        }
    }
}


.nav {
    display: flex;
    flex: 1 50rem;

    &-list {
        display: flex;
        flex: 1 40%;
        justify-content: space-evenly;
    }

    &-item {
        list-style: none;
    }

    &-link {
        text-decoration: none;
        text-transform: uppercase;
        color: black;
        font-weight: bold;
        font-size: 1rem;

        &:hover {
            color: $text-color-secondary;
        }
    }
}


//HERO CONTAINER

.hero {
    padding: 1rem 0;
    width: 100%;

    &__container {
        padding: 0rem 6rem;
        display: flex;
    }

    &__dropdown-menu {
        // display: flex;
        // flex-direction: column;
        border: 1px solid $color-grey;
    }

    &__nav {
        &-main {

            background-color: $text-color-secondary;
            display: flex;
            // flex: 1 auto;
            align-items: end;
            padding: .5rem .5rem .5rem 2rem;

            &--text {
                font-size: 1.1rem;
                font-weight: bold;
                color: white;
            }

            &--angledown-icon {
                color: white;
                margin-left: 1.5rem;
            }

            &--align-icon {
                color: white;
            }



        }

        &-item {
            list-style: none;
            margin: 1rem 3rem;
        }

        &-link {
            text-decoration: none;
            color: $text-color-primary;
            font-size: .9rem;

        }
    }



    &__primary {
        width: 75%;
        padding: 0 1rem;

        &--info {
            display: flex;

            justify-content: space-between;
            width: 100%;
        }

        &--search {


            &-form {
                display: flex;
                border: 1px solid $color-grey;
                align-items: center;
                flex: 1 60%;
                margin-right: 3rem;
                gap: 1.5rem;

            }

            &-field {
                display: flex;
                flex: 1 auto;
                justify-content: space-between;

                &>input {
                    outline: none;
                    border: none;
                    font-family: inherit;
                }
            }
        }



        &--phone {
            display: flex;

            &>* {
                margin: 0 .7rem;
            }


            &-icon {
                display: flex;
                align-items: center;
            }

            &-info {
                color: grey;

            }

        }

        &--category-selection {
            display: flex;
            align-items: center;


            &-text {
                font-weight: bold;
                font-size: 1rem;
                margin: 0 1rem;
            }
        }

        &--btn-field {
            display: flex;
            align-items: center;

            height: 53px;
            font-weight: bold;
            font-size: .8rem;
        }

        &--image-box {
            background-image: url('/img/hero.png');
            background-size: cover;
            background-repeat: no-repeat;
            height: 445px;
            background-position: top right;


        }

    }



}

.hero {

    &__primary--image-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 5rem;
        line-height: 3rem;

    }

    &__heading {
        &-box {
            width: 40%;
        }

        &--secondary {
            color: $text-color-secondary;
            text-transform: uppercase;
            font-size: 1rem;
            font-weight: bold;
            letter-spacing: .3rem;
        }

        &--primary {
            font-size: 3rem;
            font-weight: bolder;
        }

        &--sub {
            font-size: 1rem;
            color: grey;
            font-weight: 400;
        }

    }
}

.heading__primary--hero-btn {
    padding: 1rem 2rem;
    margin-top: 2rem;

}

.btn__text-link {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 0.9rem;
}



.categories {
    padding: 5rem 3rem;

    &__body {
        display: flex;
        align-items: center;
    }

    &__items {
        margin: 1rem;

        &--info {
            font-size: 1rem;
            text-transform: uppercase;
            text-align: center;
        }

        &--list {
            display: flex;
            align-items: center;
        }
    }

    &__scroller {
        border: 1px solid rgb(221, 223, 223);
        padding: 1.5rem 0.01rem;
    }


}


.featured {
    &__nav {

        &--list {
            display: flex;
            justify-content: center;
            margin: 2rem 0;


        }

        &--items {
            // text-decoration: none;
            margin: 0 1rem;
            list-style-type: none;
            font-size: 1.2rem;
        }

        &--links {
            text-decoration: none;
            color: $text-color-primary;
            position: relative;

            &:active {
                &::after {
                    content: '';
                    background-color: $text-color-secondary;
                    width: 100%;
                    height: 2px;
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translate(-50%);
                }
            }
        }


    }

    &__body {
        display: flex;
        flex-wrap: wrap;

    }

    &__items {
        margin: 1rem;

        &--info {
            margin-top: 3rem;
            text-align: center;
        }

        &--price {
            text-align: center;
        }



    }
}

.banner {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.products {
    display: flex;
   justify-content: space-around;

    &__header {
        display: flex;
        align-items: center;
        font-size: 1rem;
        justify-content: space-between;
     
    }

    &__column{
        width: 30%;
    }

    &__items {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0.5rem;

        &--desc{
            color:black;
        }
    }

    &__scroller {
        border: 1px solid rgb(221, 223, 223);
        padding: 0.3rem 0.1rem;
        display: flex;
            align-items: center;
         

    }

    &__icon{
        display: flex;
        gap:1rem;
    }

    &__links{
        display: flex;
        align-items: start;
        gap: 2rem;
        text-decoration: none;
    }
    &__body{
        margin-top: 2rem;
    }
}


.blog{
    &__body{
        display: flex;
        margin-top: 3rem;
        justify-content: space-between;
    }

    &__card
    {
        width: 30%;
        &--time{
            display: flex;
            align-items: center;
            gap:1rem;
            justify-content: start;
            margin: 1rem 0;
            font-size: 1rem;
            

            &--info 
            {
                display: flex;
                align-items: center;
                
                
                &> p{
                    display: inline;
                }
            }
        }

        &--comments 
        
        {
            display: flex;
            align-items: center;
&> p{
    display: inline;
}
        }


        &--header{
            font-size: 1.2rem;
            color: black;

            &-links{
                text-decoration: none;
            }
            
        }

        &--textbox{
            font-size: 1rem;
            color: grey;
        }
    }
}

.footer{
    display: flex;
    justify-content: space-between;

    &__info{
        font-size: 1rem;

        &--image{
            margin-bottom: 1rem;
        }
    }

    &__links{
        &--box{
            display: flex;
            gap:3rem;
            font-size:0.9rem;
            margin-top: 0.5rem;
        }

        &--link{
            text-decoration: none;
            list-style-type: none;
            color: $text-color-primary;
            line-height: 2.3;
        }
    }

    &__query{
        &--text{
            font-size: 0.9rem;
            margin: 0.3rem 0 1.5rem 0;
        }
        &--input
        {
            display: flex;
            justify-content: start;
            
            
            
        &-text{
            padding: 1rem;
            color: black;
            font-size: 1rem;
            padding: 0.4rem;
            border: 1px solid rgb(238, 236, 236);
            font-family: inherit;
            width: 100%;
        }
    }
        

        &--btn{
            padding: 1rem 1.5rem;
            text-transform: uppercase;
            font-weight: 700;
            
        }

        &--icons{
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 1.2rem;
            margin-top: 2rem;
        }
    }
    
}

.copyright{
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__text{
        font-size: 1rem;
        color: grey;

        &--link{
            text-decoration: none;
            color: rgb(13, 152, 233);

            &:hover{
                color: #fff;
            }
        }
    }
}

.hidden{
    display: none;
}