.heroscreen {
    padding: 0;

    &__primary {
        display: flex;
        padding: 2rem 6rem;
    }

    &__dropdown-menu {

        border: 1px solid $color-grey;


    }

    &__nav {
        &-main {

            background-color: $text-color-secondary;
            display: flex;
            // flex: 1 auto;
            align-items: end;
            padding: .5rem .5rem .8rem 2rem;



            &--text {
                font-size: 1.1rem;
                font-weight: bold;
                color: white;
            }

            &--angledown-icon {
                color: white;
                margin-left: 1.5rem;
            }

            &--align-icon {
                color: white;
            }



        }
    }

    &__btn--text {
        text-transform: uppercase;
    }

    &__primary{
        &--info{
            display: flex;

            justify-content: space-between;
            width: 75%;
        }
    
    &--search {


        &-form {
            display: flex;
            border: 1px solid $color-grey;
            align-items: center;
            flex: 1 60%;
            margin:0 3rem;
            gap: 1.5rem;

        }

        &-field {
            display: flex;
            flex: 1 auto;
            justify-content: space-between;

            &>input {
                outline: none;
                border: none;
                font-family: inherit;
            }
        }
    }
    &--phone {
        display: flex;

        &>* {
            margin: 0 .7rem;
        }


        &-icon {
            display: flex;
            align-items: center;
        }

        &-info {
            color: grey;

        }

    }
    &--category-selection {
        display: flex;
        align-items: center;


        &-text {
            font-weight: bold;
            font-size: 1rem;
            margin: 0 1rem;
        }
    }

    &--btn-field {
        display: flex;
        align-items: center;

        height: 53px;
        font-weight: bold;
        font-size: .8rem;
    }

    
    }

    &__container{
        &--image-box {
            background-image:linear-gradient(to right,rgb(70, 70, 65), transparent), url('../img/tomato.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            height: 150px;
            background-position: top right;
            background-color: line;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            line-height: 1.3;
        }

        &--header{
            
            &-main{
                font-size: 3rem;
                font-weight:   900;
            }
           
        }
    }
}