* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Cairo";
  font-size: 75%;
}

.section__header {
  font-size: 1.3rem;
  text-align: center;
  position: relative;
  font-weight: 900;

  &::after {
    content: '';
    background-color: $text-color-secondary;
    width: 70px;
    height: 0.2rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);


  }
}

.name {
  font-size: 1rem;

 
  font-weight: 400;
  
}

.price{
  font-size: 1rem;
  font-weight: 700;
  
}

section {
  padding: 2rem 5rem;
}

.hidden{
  display: none;
}

.link{
  text-decoration: none;
  color: black;
}

.item{
  list-style-type: none;
}

.pagination{
  &__list{
      display: flex;
      margin: 2rem 0;

     
  }

  &__items{
      list-style-type: none;
      margin-right:  0.5rem;
      border: 1px solid rgb(226, 225, 225);
      padding: 0.3rem 0.7rem;
      &:hover{
        background-color: $text-color-secondary;
        color: white;
        
      }
      
  }

  &__links{
      text-decoration: none;
      color:grey;
      
      &:hover{
        color: white;
        
      }
  }
}