.header {
  &__top {
    background-color: rebeccapurple;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &-left {
      display: flex;
      justify-content: space-evenly;
      flex: 1 0 auto;
      align-items: center;

      &--email {
        display: flex;
        align-items: center;
        gap: 1rem;
        &-text {
          display: inline-block;

          &::after {
            content: " ";
            height: 1rem;
            width: 50%;
            background-color: black;
          }
        }
        &-icon {
          width: 2rem;
          height: 2rem;
        }
      }
    }

    &-right {
      background-color: green;
      display: flex;
      justify-content: space-between;
      flex: 1 0 auto;
      align-items: center;

      &--icon {
        width: 2rem;
        height: 2rem;
        gap: 1rem;
      }
      &--login {
        display: flex;
        align-items: center;
        &-text {
          display: inline-block;
        }
      }
    }
  }
}
