.header{
    

    &__top {
        height: 3rem;
        background-color: rebeccapurple;
        display: flex;
        justify-content: space-around;
    
        &-left {
            display: flex;
            align-items: center;
            gap: 1rem;
            
    
            &--email {
                display: flex;
                align-items: center;
    
                &::after{
                    content: '';
                    height: 2rem;
                    width:  0.1rem;
                    background-color: black;
                   
                }
    
                &-icon {
                    width: 2rem;
                    height: 2rem;
                }
    
               
            }
        }

        &-right{
            display: flex;
            justify-content: end;
            flex-wrap: wrap;
            background-color: antiquewhite;

            &--icons{
                display: flex;
                flex-direction: row;
               
            }

            &--icon{
                width: 2rem;
                height: 1rem;
            }
        }
    
    
    }


}

